/*.pro.user
/Debug/
/ipch/
/Release/
/x64/
/ShipControl3D.opensdf
/ShipControl3D.sdf
/ShipControl3D.sln
/ShipControl3D.suo
/ShipControl3D.vcxproj
/ShipControl3D.vcxproj.filters
/ShipControl3D.vcxproj.user
/GeneratedFiles/
/~$ShipControl3D结构简介.xlsx
